.change-address-or-payment {
    height: 644px;
    width: 732px;
    left: 360px;
    top: 111px;
    border-radius: 10px;
    position: absolute;
    width: 732px;
    height: 644px;
    left: 360px;
    top: 111px;
    background: #FFFFFF;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0px #00000040;
    /* set for debugging purposes  */
    background-color: antiquewhite;
}

.change-title {
    text-align: left;
    margin-top: 23px;
    margin-left: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
    
    color: #040404;
}

#line3 {
    position: absolute;

    margin-top: 23px;
    margin-left: 32px;

    width: 124px;
    height: 0px;
    margin-left: 32px;
    border: 1px solid black;
}

#line4 {
    width: 205px;
    height: 0px;
    border: 1px solid #C4C4C4;
    margin-left: -20px;
}

.card {
    margin-top: 63px;
    height: 208px;
    width: 206px;
    
    background-color: #F5F5F5;
    border: none;
    color: #040404;

    font-size: 12px;
    line-height: 15px;
    display: flex;
    letter-spacing: -0.015em;
}

.card .card-body .card-title {
    font-size: 12px;
}

.card-title {
    font-weight: bold;
    color: black
}

.card-link {
    align-items: center;
    letter-spacing: -0.015em;
    font-weight: bold;
    font-size: 10px;
}

.card-body .text-muted {
    font-size: 12px !important;
}

.plus-btn {
    background-color: #65EECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 50px;
    width: 50px;    

    margin-top: 55px;
    margin-left: 55px;
}

.plus-btn i {
    color: white;
    font-size: 30px;
    font-weight: 30px;
    margin-top: 12px;
    margin-left: 12px;
    justify-self: center;
    justify-content: center;
    border-radius: 10px;
}