/* @import "~antd"; */

main.ant-layout-content {
    display: table;
}

.right {
    position: relative;
    display: table;
}

.map {
    background-color: #C4C4C4;
    color: #E2EFFF;
    display: table-cell;
    vertical-align: middle;
    font-size: 600px;
}
.Tracking-body{
    position: relative;
    top: 120px;
    left: 20px;
}

.Tracking-status{
    position: absolute;
    top:120px;
    left:210px;
}
.Tracking-map{
    position: absolute;
    top:120px;
    left:210px;
}