@import '~antd/dist/antd.css';
.frame{
    position: absolute;
    border:1px solid #000;
    width: 450px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
}
.AccountHelpForm{
    width: 400px;
    margin: auto;
    margin-top: 30px;
    color:#F5F5F5;
    /*float: left;*/
}