.OrderInfoItem {
  width: 662px;
  height: 140px;
  margin-bottom: 32px;
  margin-left: 0px;
  padding-left: 0px;
  background: #f5f5f5;
}

.info {
  display: flex;
  height: 53px;
  padding-top: 16px;
}

.line4 {
  position: static;
  top: 53px;
}
.status {
  height: 71px;
}

.OrderPlaced {
  width: 123px;
  height: 24px;
  margin-left: 22px;
}

.TrackNumber {
  width: 123px;
  height: 24px;
  margin-left: 11px;
}

.From {
  width: 123px;
  height: 24px;
  margin-left: 54px;
}

.To {
  width: 123px;
  height: 24px;
  margin-left: 59px;
}

.Top {
  margin-top: 16px;
}

div.info > div{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}

.status{
  display:flex;
}

.imgContainer{
  display:flex;
  width : 120px;
  justify-content:center;
  align-items:center;
}

img.drone {
  width: 70px;
  position :relative;

  left:auto;
  right:auto;
}
img.robot {
  position :relative;
  width: 40px;
  left:auto;
  right:auto;
}

.statusDisplay{
  display:flex;
  width:200px;
  align-items:center;
}

h2{font-weight: bold;}

.processing {
  position:relative;
  left :10px;
}

.notProcessing{
  position:relative;
  left : 10px;
  line-height: 0.4;
}

#trackOrder{
  position:relative;
  top:19px;
  left:10px;
  font-weight: bold;
}

#orderDetail{
  position:relative;
  top:19px;
  left:90px;
  font-weight: bold;
}


