.tracking-no-header .navbar {
    width: 100vw;
    height: 74.06px;
    background-color: #65EECD !important;
}

.default-header .navbar {
    width: 100vw;
    height: 74.06px;
    background-color: #65EECD !important;
}

.delivery-address-header {
    position: fixed;
    top: 0;
    z-index: 1;
}

.delivery-address-header .navbar {
    width: 100vw;
    height: 74.06px;
    background-color: #65EECD !important;
}

.logo {
    content: url('../../assets/images/jiffy-logo.png');
    width: 162.5px;
    height: 23px;
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    top:8px;
    /* margin-left: 30px; */
    /* margin-top: 24px;
    margin-bottom: 27.43px; */
}

.back-button {
    width: 46px;
    height: 46px;
    margin-left: 200px;
    margin-top: 8px;
    border-radius: 50%;
    background-color: white;
    border: none;
}

#back-icon {
    font-size: 25px;
    color: black;
    margin-left: -5px;
    border-radius: 15px;
}

.address-search-box {
    height: 45.94285583496094px;
    width: 500px;
    margin-left: 243px;
    margin-top: 14.399993896484375px;
    background-color: #FFFFFF;
    border: none;
    margin-top: 8px;
}

.header-buttons Button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    width: auto;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    right: 0;
}

.btns-row {
    right: 0;
    margin-left: 1000px;
}

#myDropdown.Toggle{
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

.header-buttons {
    position: absolute;
    right:4%;
    margin-left: 200px;

}

/* Lin's Modal css */
.ant-modal-footer {
    display: none;
  }
  
  .ant-modal-body {
    margin-top: 50px;
    padding: 15px;
  }

 .myaccount-row{
        position:absolute;
        right: 10%;
        
        top:-25px;

 }

 .userhead-order-button {
     position: relative;
    top:-50px;
    left: 200px;
 }