* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}

.header .navbar {
    width: 100vw;
    height: 74.06px;
    background-color: #65EECD !important;
    position: fixed;
}

.logo {
    content: url('../../assets/images/jiffy-logo.png');
    width: 162.5px;
    height: 23px;
    position: absolute;
    margin-top: 15px;
    /* margin-left: 30px; */
    /* margin-top: 24px;
    margin-bottom: 27.43px; */
}

.address-search-box {
    height: 45.94285583496094px;
    width: 500px;
    margin-left: 243px;
    margin-top: 14.399993896484375px;
    background-color: #FFFFFF;
    border: none;
    margin-top: 8px;
}

.header-buttons Button{
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    width: 110px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

.header-buttons {
    margin-left: 200px;
}

.header .catch-line{
    position: absolute;
    width: 655px;
    height: 59px;
    left: 71px;
    top: 267px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.header-address {
    position: absolute;
    width: 465.6px;
    height: 45.94px;
    left: 70.63px;
    top: 347px;
    background: #FFFFFF;
    border: none;
}

.input-group {
    width: 465.6px;
    height: 45.94px;
    border: none;
}

.input-group input {
    width: 465.6px;
    height: 45.94px;
    border: none;
}

.header-address-input {
    border: none; 
    width: 465.6px;
    border: none;
}

.input-group-text {
    background-color: white;
}
/* #loc-logo {
    margin-left:86.4px;
    margin-top: 300.77px;
    background: #FFFFFF;
} */

.header-address-btn {
    margin-left: 490px;
    margin-top: -45px;
}

.header-address-btn Button {
    background-color: #65EECD;
    border: none;
    color: black;
    text-decoration: bold;
    position: absolute;
    width: 199px;
    height: 46px;
}