@import "~antd/dist/antd.css";

body {
    font-family: 'Montserrat', sans-serif;
}

.recommendContainer {
    align-items: center;
}

.recommend-form-container {
    margin: 50px;
    background-color: #fff;
    width: 1380px;
    align-items: center;
    height: 750px;
}

.recommend-form-message {
    margin-left:50px;
    padding-top:30px;
    font-size: 22px;
    font-weight: bold;
}

.recommend-item {
    padding: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ADVType {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.request-delivery-btn {
    background-color: #65EECD;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    height: 41px;
    width: 200px;
    border: #fff;
}