@import "~antd/dist/antd.css";

body {
    font-family: 'Montserrat', sans-serif;
}

.recommend-box {
    padding: 50px;
}

.recommend-form {
    align-items: center;
}

.ADVType {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.request-delivery-btn {
    background-color: #65EECD;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    height: 41px;
    width: 191px;
    border: #f1f1f1;
}