@import '~antd/dist/antd.css';

.ant-input {
    width: 330px;
    height: 36px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.015em;
    text-align: left;
    padding-left: 15px;
    border: 1px solid #d9d9d9;
}

.singUp-button {
    font-family: Montserrat;
    background-color: #65EECD;
    height: 46px;
    width: 199px;
    top: 6px;
    margin: 10px;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    border: 1px solid #d9d9d9;
}

.ant-btn, .ant-btn:active, .ant-btn:focus {
    outline: 0;
    background-color: #65EECD;
}

.gg-logo {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 3px;
}

.fb-logo, .tw-logo {
    padding-left: 5px;
    padding-right: 5px;
}

.ant-form-item-control {
    text-align: center;
    line-height: 0px;
}

.signUp .signUp-title {
    height: 45px;
    width: 497px;
    left: 327px;
    top: 149px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;

}

.signUp-icon-text, .signUp-icon-ask {
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.015em;
    text-align: center;
}

.check-box {
    height: 18px;

    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.015em;
    text-align: left;
}


.ant-checkbox + span {
    font-size: 12px;
}

